@import "import/normalize.css";

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
}

#stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 0;
}

.player {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.obstacle {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}